#restaurantname {
    font-family: "Montserrat";
    font-size: 5em;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    margin: auto;
}
#logo {
    margin-left: auto;
    margin-bottom: 0px;
    margin-top: 1em;
    margin-right: auto;
    display: block;
    height: 10em;
}
#navbar {
    padding: 1em;
    text-align: center;
}
#navbar li {
    list-style: none;
    text-align: center;
    display: inline;
}
#navbar li a {
    font-family: Special Elite;
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    color: black;
    border-bottom: solid;
    border-width: 2px;
    padding: .4em;
    text-align: center;
    margin: .25em
}
#navbar li a:hover {
    background-color: black;
    color: white;
    border-top-right-radius: .25em;
    border-top-left-radius: .25em;
    border-bottom: solid;
    border-bottom-color: black;
}
body p {
    font-family: Special Elite;
    font-size: 1.5em;
    line-height: 1.75em;
    color: #333
}
#announcement {
    font-family: Special Elite;
    font-size: 2em;
    text-align: center;
    color: red;
}
body {
    background: #f3f2ee;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}